* {
border: 1px solid red;
font-family:Verdana, sans-serif ;
}

.tophead, .hook, .ad, .adbutton, .footer, .header {
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    
}


.header {
 display:flex;
 background-color: #1F2937;
 padding-bottom: 10px;
 justify-content: space-between;
 padding: 0 80px;
 font-size: 24px #F9FAF8;
}
.links {
    display: flex;
    margin-left:0 auto;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 10px;
    
}


.hook {
    background-color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex-wrap: wrap;
    display: flex;
    padding: 0 auto;
    
}

.left {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.placeholder {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-right: 300px;
}

.button {
    background-color: #3882F6;
    display: flex;
}
.content {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 20px ;

}

.images {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    
}

.items {
    
    display: flex;
    vertical-align: top;
    text-align: center;
    width: 200px;
    height: 200px;
    flex-direction: column;
    align-items: center;
}

img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    border: 5px solid #3882F6;
    
}

.caption {
    display: block;
    font-size: 20px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    font: 36px italic;
}

.cite {
    font-weight: 800;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;

}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border:1px solid red
}

.ad {
    background-color: #3882F6;
    padding:0 250px;
}

.adbutton {
 background-color: #3882F6;

}


.footer {
    display: flex;
    background-color: #1F2937;
    margin-top: auto;
    margin:0;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
